http_interactions:
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=user-social_contact_data
  response:
    status: 200
    headers:
      content-type: text/xml; charset=utf-8
      retry-after: '55'
      x-ratelimit-limit: '120'
      x-ratelimit-remaining: '119'
      x-ratelimit-reset: '1755493103'
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2025-08-18T04:57:22Z</responseDate>\n
        \ <request verb=\"ListRecords\" set=\"user-social_contact_data\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
        \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:6362888</identifier>\n
        \       <datestamp>2022-05-12T13:49:50Z</datestamp>\n      </header>\n      <metadata>\n
        \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \         <dc:contributor>Gimma, Amy</dc:contributor>\n          <dc:contributor>Wong,
        Kerry LM</dc:contributor>\n          <dc:contributor>Coletti, Pietro</dc:contributor>\n
        \         <dc:contributor>Jarvis, Christopher I</dc:contributor>\n          <dc:contributor>Edmunds,
        W John</dc:contributor>\n          <dc:contributor>Hens, Niel</dc:contributor>\n
        \         <dc:creator>Gimma, Amy</dc:creator>\n          <dc:creator>Wong,
        Kerry LM</dc:creator>\n          <dc:creator>Coletti, Pietro</dc:creator>\n
        \         <dc:creator>Jarvis, Christopher I</dc:creator>\n          <dc:date>2021-06-29</dc:date>\n
        \         <dc:description>&amp;lt;p&amp;gt;CoMix social contact data for Italy.&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;We
        gratefully acknowledge the efforts of all teams involved in the implementation
        of the CoMix study in their country. More specifically: the team of Daniela
        Paolotti at the ISI Foundation.&amp;lt;/p&amp;gt;</dc:description>\n          <dc:identifier>https://doi.org/10.5281/zenodo.6362888</dc:identifier>\n
        \         <dc:identifier>oai:zenodo.org:6362888</dc:identifier>\n          <dc:publisher>Zenodo</dc:publisher>\n
        \         <dc:relation>https://zenodo.org/communities/social_contact_data/</dc:relation>\n
        \         <dc:relation>https://zenodo.org/communities/eu/</dc:relation>\n
        \         <dc:relation>https://doi.org/10.5281/zenodo.5041112</dc:relation>\n
        \         <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative
        Commons Attribution 4.0 International</dc:rights>\n          <dc:rights>https://creativecommons.org/licenses/by/4.0/legalcode</dc:rights>\n
        \         <dc:subject>Social contact data, COVID-19</dc:subject>\n          <dc:title>CoMix
        social contact data (Italy)</dc:title>\n          <dc:type>info:eu-repo/semantics/other</dc:type>\n
        \       </oai_dc:dc>\n      </metadata>\n    </record>\n    <record>\n      <header>\n
        \       <identifier>oai:zenodo.org:7751724</identifier>\n        <datestamp>2023-12-13T10:30:24Z</datestamp>\n
        \     </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n          <dc:creator>Jantien
        A. Backer</dc:creator>\n          <dc:creator>Jan van de Kassteele</dc:creator>\n
        \         <dc:creator>Niel Hens</dc:creator>\n          <dc:creator>Jacco
        Wallinga</dc:creator>\n          <dc:date>2023-03-13</dc:date>\n          <dc:description>&amp;lt;p&amp;gt;SCONE
        (Studying CONtacts of Elderly): Contact data of frail and non-frail older
        adults (70+) collected in the Netherlands during two survey periods in 2021&amp;lt;/p&amp;gt;</dc:description>\n
        \         <dc:description>The SCONE (Studying Contacts in Elderly) project
        was funded by the ZonMw (NL) programme Infectious Disease Control 3,  project
        number 10150511910020</dc:description>\n          <dc:identifier>https://doi.org/10.5281/zenodo.7751724</dc:identifier>\n
        \         <dc:identifier>oai:zenodo.org:7751724</dc:identifier>\n          <dc:language>eng</dc:language>\n
        \         <dc:publisher>Zenodo</dc:publisher>\n          <dc:relation>https://zenodo.org/communities/social_contact_data/</dc:relation>\n
        \         <dc:relation>https://zenodo.org/communities/rivm/</dc:relation>\n
        \         <dc:relation>https://doi.org/10.5281/zenodo.7649375</dc:relation>\n
        \         <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative
        Commons Attribution 4.0 International</dc:rights>\n          <dc:rights>https://creativecommons.org/licenses/by/4.0/legalcode</dc:rights>\n
        \         <dc:source>BMC Public Health, 23, 1829, (2023-03-13)</dc:source>\n
        \         <dc:subject>Social Contact Data</dc:subject>\n          <dc:subject>COVID-19</dc:subject>\n
        \         <dc:subject>older adults</dc:subject>\n          <dc:subject>frailty</dc:subject>\n
        \         <dc:title>Contact data of older adults (70+) in the Netherlands
        in 2021</dc:title>\n          <dc:type>info:eu-repo/semantics/other</dc:type>\n
        \       </oai_dc:dc>\n      </metadata>\n    </record>[...]
